In [1]:
import pandas as pd
import glob
import os

from functions import *

This notebook is used to perform the analysis for our online study. The study consists of three parts:

- Demographic questionnaire – includes questions about age, gender, etc.

- Computerised task/game – gameified two step task

- Mood and emotion questionnaire – assesses participants' emotional states 

Each part is hosted as a separate modular project on the Pavlovia server to allow for independent data collection. Participants can be recognised by the presence of Prolific IDs in the results csv.

The aim of this notebook is to visualise relationships between performance in the two-step task and mental-health/cognitive dimensions.

In [2]:
# Load necessary files

# Load demographic results
demographic_dfs = load_data("Demographics_Results")

# Load TST results
tst_dfs = load_data("Two_Step_Task_Results")

# Load questionnaire results
questionnaires_dfs = load_data("Questionnaire_Results")

In [3]:
questionnaires_dfs['mh_overall_scores_pilot_09_07_25']

,participant_id,ocir_overall,alcohol_overall,social_overall,bis_overall,neutral_overall,depress_overall,eat_overall,schizo_overall,iq_overall,anxiety_overall,apathy_overall,catch_response,catch_infrequent_response,study
0,572bcdbb34b25a0010ddd977,13,11,39,47,40,45,6,11,10,53,62,Pass,Pass,pilot
1,66d31a1b0515fe747830bab9,23,12,50,70,32,39,4,13,9,48,60,Pass,Pass,pilot

In [4]:
demographic_dfs['demographic_results_pilot_09_07_25']

,age,ethnicity,mh_past,mh_current,fam_mh_past,participant_id,study
0,60,"White: English, Welsh, Scottish, Northern Iris...",NaN,NaN,NaN,66d31a1b0515fe747830bab9,pilot
1,50,"White: English, Welsh, Scottish, Northern Iris...",NaN,NaN,"['Major Depression', 'Alcohol Dependence', 'Su...",572bcdbb34b25a0010ddd977,pilot

In [5]:
tst_dfs['MB_TST_results_pilot_09_07_25']

             participant_id  lastWinRew_lastTranUnc
0  572bcdbb34b25a0010ddd977               -0.052264
1  66d31a1b0515fe747830bab9                0.477872

In [10]:
# Different dataframes can be accessed by using the experiment name as a key:

questionnaires_dfs['mh_overall_scores_pilot_09_07_25']
#questionnaires_dfs['mh_calculated_scores_pilot_09_07_25']
#demographic_dfs['demographic_results_pilot_09_07_25']

,participant_id,ocir_overall,alcohol_overall,social_overall,bis_overall,neutral_overall,depress_overall,eat_overall,schizo_overall,iq_overall,anxiety_overall,apathy_overall,catch_response,catch_infrequent_response,study
0,572bcdbb34b25a0010ddd977,13,11,39,47,40,45,6,11,10,53,62,Pass,Pass,pilot
1,66d31a1b0515fe747830bab9,23,12,50,70,32,39,4,13,9,48,60,Pass,Pass,pilot

In [11]:
demographic_dfs['demographic_results_pilot_09_07_25']

,age,ethnicity,mh_past,mh_current,fam_mh_past,participant_id,study
0,60,"White: English, Welsh, Scottish, Northern Iris...",NaN,NaN,NaN,66d31a1b0515fe747830bab9,pilot
1,50,"White: English, Welsh, Scottish, Northern Iris...",NaN,NaN,"['Major Depression', 'Alcohol Dependence', 'Su...",572bcdbb34b25a0010ddd977,pilot

In [7]:
# Check which participants have failed the different kinds of catch tests
failed_participants = get_failed_participants(questionnaires_dfs, tst_dfs)

No participants failed catch_response
No participants failed catch_infrequent_response
No participants failed catch_side_response
Participants who failed catch_missed_trials: ['66d31a1b0515fe747830bab9']
No participants failed catch_RT
Participants who failed any_failure: ['66d31a1b0515fe747830bab9']

Draft analysis

1. Correlation IQ and MB index
2. Correlation age and MB index
2. Correlation of all mental health scores with MB index

In [8]:
merged_df = merge_dataframes(demographic_dfs, questionnaires_dfs, tst_dfs)

In [9]:
merged_df

,study,participant_id,age,lastWinRew_lastTranUnc,ethnicity,ocir_overall,alcohol_overall,social_overall,bis_overall,neutral_overall,depress_overall,eat_overall,schizo_overall,iq_overall,anxiety_overall,apathy_overall,mh_past,mh_current,fam_mh_past
0,pilot,66d31a1b0515fe747830bab9,60,0.477872,"White: English, Welsh, Scottish, Northern Iris...",23,12,50,70,32,39,4,13,9,48,60,NaN,NaN,NaN
1,pilot,572bcdbb34b25a0010ddd977,50,-0.052264,"White: English, Welsh, Scottish, Northern Iris...",13,11,39,47,40,45,6,11,10,53,62,NaN,NaN,"['Major Depression', 'Alcohol Dependence', 'Su..."